#surface4 {
  background: #f5f7fa;
}
.svg-label {
  fill: #fff;
  stroke: #48cfad;
  stroke-width: 2px;
}
.svg-label-focus {
  stroke: #f6bb42;
}
#svg-label-title {
  width: 90%;
  margin: auto;
  padding-top:3px;
  text-align: center;
  outline: none;
  font-size: 1.2em;
  color: #48cfad;
  white-space: nowrap;
  overflow: hidden;
}
#svg-label-title br {
    display:none;
}
#svg-label-title * {
    display:inline;
    white-space:nowrap;
}
.svg-label *:focus {
  outline: none;
}
.svg-joint {
  opacity: 0.1;
  fill: white;
  stroke: #37bc9b;
  stroke-width: 3px;
}
.svg-joint-highlight {
  stroke: #f6bb42;
  opacity: 1.0;
}
.svg-joint:hover {
  opacity: .7;
}
.svg-connection {
  stroke: #37bc9b;
  stroke-width: 2px;
  fill: none;
}
.svg-connection-focus {
  stroke: #f6bb42;
}
.svg-connection-ghost {
  stroke: red;
  opacity: .0;
  stroke-width: 10px;
  fill: none;
}
.svg-drag-connection {
  stroke: #48cfad;
  stroke-width: 2px;
  fill: none;
}
